*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
  background: #060312;
  color: white;
  scroll-behavior: smooth;
}

.navbar{
    width: 100%;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .lg{
    font-size: 22px;
    font-weight: 600;
    color: #8be6ff;
    letter-spacing: 1px;
}

.nav-items{
    display: flex;
    gap: 40px;
}

.nav-items a{
    text-decoration: none;
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-items a:hover{
    color: #7f7f7f;
}

.neon-bg{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #00363d,#000d14,#060312);
}

.name{
    font-size: 36px;
    margin-bottom: 10px;
    color: #d7eaff;
    text-align: center;
}

.tag{
    font-size: 20px;
    color: #81edff;
    margin-bottom: 10px;
    text-align: center;
}

.tagline{
    font-size: 16px;
    color: #b8c7d9;
    margin-bottom: 25px;
    text-align: center;
}

.btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project{
    padding: 12px 28px;
    background: linear-gradient(90deg,#a349ff,#18d8ff);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0px 0px 25px rgba(162,73,255,0.4);
    transition: 0.3s;
}

.project:hover{
    transform: scale(1.07);
}

.contact{
    padding: 12px 28px;
    background: white;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.contact:hover{
    background: #eaeaea;
    transform: scale(1.07);
}

.scroll-indicator{
    margin-top: 40px;
    width: 26px;
    height: 46px;
    border: 2px solid #a9c3ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 6px;
    margin-left: 12rem;
}

.scroll-indicator .dot{
    width: 6px;
    height: 10px;
    background: #7ff7ff;
    border-radius: 20px;
    animation: bounce 1.6s infinite;
}

@keyframes bounce{
    0%{transform: translateY(0); opacity: 1;}
    50%{transform: translateY(12px); opacity: 0.5;}
    100%{transform: translate(0); opacity: 1;}
}


#About{
    width: 100%;
    padding: 120px 0;
    background: radial-gradient(circle at top left, rgba(80,0,120,0.2) transparent 60%),radial-gradient(circle at bottom right, rgba(0,200,255,0.1), transparent 70%);
    color: #fff;
    position: relative;
}

.heading{
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 700;
    color: #e4e4e4;
    position: relative;
}

.heading::after {
  content: "";
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #a855f7, #06b6d4);
  display: block;
  margin: 10px auto 0;
  border-radius: 5px;
}

.col{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 60px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(168,85,247,0.6);
    box-shadow: 0 0 2px rgba(168,85,247,0.4)
    ,0 0 45px rgba(0,200,255,0.2);
}

.right p{
    font-size: 18px;
    line-height: 1.7;
    color: #d7d7d7;
}

.workflow{
    margin-top: 120px;
}

.head1{
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 70px;
    color: #e4e4e4;
}

.sec{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.sec div{
    background: rgba(255,255,255,0.04);
    padding: 40px 20px;
    border-radius: 18px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgba(255,255,255,0.08);
    color: #e4e4e4;
    transition: 0.3s ease;
    position: relative;
}

.sec div:hover{
    box-shadow: 0 0 20px rgba(168,85,247,0.3),
    0 0 40px rgba(0,200,255,0.2);
    transform: translateY(-8px);
    border: 1px solid rgba(168,85,247,0.4);
}

.sec div svg{
    margin-top: 15px;
    width: 48px;
    height: 48px;
    opacity: 0.9;
}

.carasoul{
    width: 100%;
    margin-top: 130px;
    overflow: hidden;
}

.cara{
    display: flex;
    gap: 80px;
    animation: slide 18s linear infinite;
}

.cara li{
    list-style: none;
    font-size: 22px;
    color: #ddd;
    padding: 15px 30px;
    background: rgba(255,255,255,0.04);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.06);
    white-space: nowrap;
}

@keyframes slide{
    from{transform: translateX(0);}
    to {transform: translateX(-100%);}
}

.project-head{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #e4e4e4;
    margin-bottom: 60px;
}

.cont h1{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #e4e4e4;
    margin-bottom: 60px;
}

.cont p{
    font-size: 18px;
    line-height: 1.7;
    color: #d7d7d7;
}

form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}